<% unless comment.id.nil? %>
  <%= content_tag :div, class: 'comment', id: "comment-#{comment.id}" do %>
    <p><em><small><%= comment.user.name %> on <%= comment.created_at.strftime("%B %e, %Y at %l:%M:%S %p") %></small></em>
      <% if policy(comment).destroy? %>
        | <%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are you sure you want to delete this comment?"} %>
      <% end %>
    </p>
    <%= comment.body %>
  <% end %>
<% end %>
